<p id="notice"><%= notice %></p>
<%= link_to 'Преглянути список всіх працівників департаменту', department_employees_path(@department) %>
<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>


<%= link_to 'Редагувати інформацію про департамент', edit_department_path(@department) %> |
<%= link_to 'Список департаментів', departments_path %>
